.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.sidebar-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.sidebar-toggle.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.sidebar-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.sidebar-toggle.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}

.logout-button {
  background-color: #dc3545; /* Red color */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c82333; /* Darker red color */
}
