.container {
    margin: 20px;
  }
  
  .table {
    vertical-align: top;
    border: 1px solid #dee2e6;
    padding: 0.75rem;
    color: #fafafa;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    background-color: #343a40;
  }
  
  .progress {
    height: 20px;
  }
  
  .progress-bar {
    background-color: #28a745;
  }
  
  .btn {
    margin-right: 5px;
  }
  
  .table table-striped{
    display: flex;
    flex-direction: row;
  }