.main-sidebar {
  width: 250px;
  position: absolute ; 
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #343a40;
  color: #fff;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
li{
  list-style: none;
}
.user-panel {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.user-panel .image img {
  border-radius: 0;
}

.user-panel .info {
  margin-left: 10px;
}

.user-panel .info a {
  color: #fff;
  font-weight: 600;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
}

.nav-item {
  position: relative;
}

.nav-item .nav-link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #c2c7d0;
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-item .nav-link:hover {
  color: #ffffff;
  background-color: #4b545c;
}

.nav-item .nav-link i {
  margin-right: 10px;
}

.nav-item .nav-treeview {
  display: none;
  padding-left: 15px;
  width: 100%
}

.nav-item .nav-treeview .nav-item .nav-link {
  padding: 5px 15px;
  color: #adb5bd;
}

.nav-item .nav-treeview .nav-item .nav-link:hover {
  color: #ffffff;
  background-color: #4b545c;
}

.nav-item.has-treeview > .nav-link {
  cursor: pointer;
}

.nav-item.has-treeview.open > .nav-treeview {
  display: block;
}



/* Additional styles */
.rotate {
  transform: rotate(-90deg);
}

.nav-item.has-treeview .nav-treeview .nav-item .nav-link {
  color: #c2c7d0;
}

.nav-item.has-treeview .nav-treeview .nav-item .nav-link:hover {
  color: #ffffff;
}

.img-circle {
  border-radius: 50%;
}

aside.main-sidebar,
aside.main-sidebar * {
  background: #343a40;
}

aside.main-sidebar .nav-item.has-treeview > .nav-link {
  background: #4b545c;
}
